<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เกมดนตรีหรรษา By ครูพี่ไม้</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">เกมดนตรีหรรษา By ครูพี่ไม้</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/hangmannote">รวมผลตัวโน๊ต</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hangmanchord">ทะลุทะลวงตามล่าคอร์ด</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/viewscore">ประวัติการเล่น</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <br></br>
    <div class="center container pt-5 rounded">
        <div class="p-4 rounded border">
            <h1>ประวัติการเล่น</h1>
            <br></br>
            <a th:text="'Username: ' + ${userScore[0].user.username}" style="color: #ffffff;"></a>
            <br></br>
            <a th:text="'เล่นทั้งหมด ' + ${#lists.size(userScore)} + ' ครั้ง'" style="color: #ffffff;"></a>
            <br></br>
            <a th:text="'รวม ' + ${sumScore} + ' คะแนน'" style="color: #ffffff"></a>
            <br></br>
            <div class="table-responsive">
                <table class="table table-striped mx-auto">
                    <thead>
                        <tr>
                            <th>Score</th>
                            <th>Timestamp</th>
                            <th>Game Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="score : ${userScore}">
                            <td th:text="${score.score}"></td>
                            <td th:text="${score.timeStamp}"></td>
                            <td th:text="${score.gameName}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br></br>
    </div>
</body>
</html>
